.authentication {
  max-width: 800px;
  display: flex;
  flex-wrap: nowrap;
  flex-direction: row;
  justify-content: center;
  align-items: stretch;
  margin: auto;
  padding: 0;
}

.form-group{
  display:flex;
  align-items: center;
  justify-content: center;
  margin:1em;
}

input {
  display:block;
  border: 1px solid $form-border;
  color: $form-text;
  border-radius: 15px;
  height: 2.5em;
  width: (95%);
  outline: none;
  padding: 0 0.5em;
  margin: 0.5em 1em;
  &::placeholder {
    color: lighten($form-text, $amount: 50);
  }
}

input[type="file"]{
  display:none;
  color:red;
}


.blurred{
  color: lighten($form-text, $amount: 50);
  font-weight: 400;
  font-size:0.9em;
  margin:0.5em 1em;
}
.center {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: stretch;
  margin: 0;
  padding: 0;
}
.toogle {
  cursor: pointer;
  color: $primary-text;
  &:hover {
    color: $primary-text;
    font-weight: 500;
  }
}

.users {
  margin: auto;
  border-collapse: collapse;
  overflow: hidden;
  overflow-x: auto;
  text-align: center;
  vertical-align: center;
  padding: 0.4em;
  font-size: 0.8em;  
}
.users-rules {
  padding: 2em;
  list-style: disc;
  li {
    padding-bottom: 1em;
  }
}
.signup-message {
  max-width: 300px;
  margin: auto;
  p {
    text-align: center;
  }
}
.error {
  color: red;
}
