.container {
  max-width: 1200px;
  margin: 0 auto;
}

.contents {
  display: flex;
  flex-wrap: no-wrap;
  margin: 1rem;
  justify-content: space-between;
  background: $body-bg;
  border-radius: 15px;
  box-shadow: 0 0 10px 0px rgba(0, 0, 0, 0.3);
  .picture {
    max-width: 50%;
    margin: 3em 1.5em;
    img {
      width: 100%;
      position: sticky;
      top: 1rem;
    }
  }
  .content {
    flex-basis: 70%;
    margin: 1.5em;
    h1,
    h2,
    h3 {
      color: $secondary-text;
      text-transform: uppercase;
      margin-bottom: 1em;
    }
    h1 {
      font-size: 2em;
    }
    h2 {
      font-size: 1.8em;
    }
    h3 {
      font-size: 1.5em;
    }
    h3,
    p {
      margin-bottom: 1em;
    }
    p {
      color: $primary-text;
      line-height: 1.5em;
      text-align: justify;
    }
    ol {
      margin-left: 2rem;
      padding-bottom: 0.5em;
      list-style-type: decimal;
    }
    ul {
      margin-left: 2rem;
      padding-bottom: 0.5em;
      list-style: disc;
    }
  }
}

//additional classes
.quote {
  text-align: center;
  box-shadow: none;
  .content {
    flex-basis: 100%;
    margin: 1.5em;
  }
  h1::before,
  h1::after {
    font-size: 1.5em;
  }
  h1::before {
    content: open-quote;
  }
  h1::after {
    content: close-quote;
  }
}
.editButtons {
  cursor: pointer;
  max-width: 1200px;
  padding: 1em 2em;
  margin: auto;
  background: $body-bg;
}
.hide {
  display: none;
}

.editor {
  padding: 0em;
  margin-top: 5em;
  margin: auto;
  background: $body-bg;
}
.add-image {
  display: flex;
}
.custom-file-upload {
  display: inline-block;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0.5em 1em;
  border-radius: 15px;
  padding: 0.5em 1em;
  width: 200px;
  outline: none;
  color: $form-text;
  border: 1px solid $form-border;
  background-color: $body-bg;
  font-size: 1em;
  text-align: center;
  font-weight: 400;
  &:hover {
    color: $body-bg;
    background: $nav-link-bg-hover;
    border: 1px solid $nav-link-bg-hover;
    cursor: pointer;
  }
}
.editor__edit {
  border-radius: 15px;
  box-shadow: 0 0 10px 0px rgba(0, 0, 0, 0.3);
  padding: 1em;
}

@media only screen and (max-width: 740px) {
  .contents {
    flex-wrap: wrap;
    margin-top: 1em;
    .picture {
      max-width: 100%;
      margin: 0;
    }
    .content,
    .contact {
      flex-basis: 100%;
      margin: 1rem 0.5rem;
    }
  }
}
