.container {
  max-width: 1200px;
  margin: 0 auto;
}

.contents {
  display: flex;
  flex-wrap: no-wrap;
  margin: 1rem;
  justify-content: space-between;
  background: $body-bg;
  border-radius: 15px;
  box-shadow: 0 0 10px 0px rgba(0, 0, 0, 0.3);
  
  .picture {
    max-width: 45%;
    margin: 3em 1.5em;

    img {
      width: 100%;
      position: sticky;
      top: 1rem;
    }
  }
  .content {
    position: relative;
    flex-basis: 70%;
    margin: 1.5em;
    img {
      max-width: 50%;
      margin: 0.5em;
    }
    h1,
    h2,
    h3 {
      color: $secondary-text;
      text-transform: uppercase;
      margin-bottom: 1em;
      font-weight: bold;
    }
    h1 {
      font-size: 2em;
    }
    h2 {
      font-size: 1.8em;
    }
    h3 {
      font-size: 1.5em;
    }
    h3,
    p {
      margin-bottom: 1em;
    }
    p {
      color: $primary-text;
      line-height: 1.5em;
      text-align: justify;
    }
    ol {
      padding-left: 1rem;
      padding-bottom: 0.5em;
      list-style-type: decimal;
    }
    ul {
      padding-left: 1rem;
      padding-bottom: 0.5em;
      list-style: disc;
    }
    li {
      margin-bottom: 0.5em;
      line-height: 1.5em;
    }
    blockquote {
      margin: 0 2em;
      width: calc(100% - 4em);
      border-left: 5px solid rgba(0, 0, 0, 0.4);
      padding: 0 2em;
      padding-bottom: 0;
      font-style: italic;
      line-height: 1.5em;
      font-weight: 500;
      color: $secondary-text;
      background-color: rgba(0, 0, 0, 0.03);
    }
    blockquote::before,
    blockquote::after {
      content: "";
      display: block;
      height: 1em;
    }
    blockquote::after {
      margin-bottom: 1em;
    }
    table {
      margin: 1em auto;
      th {
        text-align: center;
        font-weight: 600;
        text-transform: uppercase;
        color: $secondary-text;
      }
      tr,
      td,
      th {
        border: 1px solid lighten($secondary-text, 10);
        padding: 0.5em 1em;
      }
    }
  }
}

//additional classes
.quote {
  text-align: center;
  box-shadow: none;
  .content {
    flex-basis: 100%;
    margin: 1.5em;
  }
  h1::before,
  h1::after {
    font-size: 1.5em;
  }
  h1::before {
    content: open-quote;
  }
  h1::after {
    content: close-quote;
  }
}
.editButtons {
  cursor: pointer;
  max-width: 1200px;
  padding: 1em 2em;
  margin: auto;
  background: $body-bg;
}
.hide {
  display: none;
}

.editor {
  padding: 0em;
  margin-top: 5em;
  margin: auto;
  background: $body-bg;
}
.add-image {
  display: flex;
}
.custom-file-upload {
  display: inline-block;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0.5em 1em;
  border-radius: 15px;
  padding: 0.5em 1em;
  width: 200px;
  outline: none;
  color: $form-text;
  border: 1px solid $form-border;
  background-color: $body-bg;
  font-size: 1em;
  text-align: center;
  font-weight: 400;
  &:hover {
    color: $body-bg;
    background: $nav-link-bg-hover;
    border: 1px solid $nav-link-bg-hover;
    cursor: pointer;
  }
}
.editor__edit {
  border-radius: 15px;
  box-shadow: 0 0 10px 0px rgba(0, 0, 0, 0.3);
  padding: 1em;
}

@media only screen and (max-width: 740px) {
  .contents {
    flex-wrap: wrap;
    margin-top: 1em;
    overflow: hidden;
    .picture {
      max-width: 100%;
      margin: 0;
      img {
        top: 0;
      }
    }
    .content,
    .contact {
      flex-basis: 100%;
      max-width: calc(100% - 2rem);
      margin: 1rem 1rem;
    }
  }
}
