footer {
  background-color: $footer-bg;
  color: $footer-text;
 
    p {
      text-align: center;
      color:$footer-text;
      padding: 0.2em 0;
      font-size:1.1em;
    }
    
    a{
      text-align: center;
      color:$footer-text;
      padding: 0.2em 0;
      font-size:1.1em;
    }
}

.footer-nav{
  text-align: center;
   li{
    display:inline-block;
    margin:0.5em 1em;
  }
}