@import url("https://fonts.googleapis.com/css?family=Noto+Sans");

//colors

$primary-bg: #f5f5f5; //navbar and footer background color.
$secondary-bg: #707070; //footer down color

$border-left-top: transparentize($secondary-bg, 0.8);
$box-shadow: transparentize($secondary-bg, 0.8);

$primary-text: #111111; //article content and title, sidebarlinks text, about and terms text/login labels text/buttons text
$primary-text-hover: darken(saturate($primary-text,10),20); //links
$primary-text-light: #111111; //navbar links text/
$primary-text-light-hover: lighten($primary-text-light,50); //navbar links text/
$secondary-text: #bbb; // article author,date,keywords,
$footer-primary-side: $primary-text-light; //footer texts.
$footer-primary-side-hover: $primary-text-light-hover; //footer texts hover.
$footer-border:$footer-primary-side; //footer border


// colors
$body-bg: rgba(254, 254, 254,1); //body color


//contentFactory
$primary-text-color:#333333;
$secondary-text-color:#0359a4;
$text-color-white:#fefefe;

// navbar
$nav-bg:#fefefe;
$nav-link: $secondary-text-color;
$nav-link-hover: #fefefe;
$nav-link-bg-hover: #74c5f3;
$bars-color:$nav-link-bg-hover;

//footer
$footer-bg:#59b0e2;
$footer-text:#fefefe;


// form
$form-text-color:#111111;
$form-border-color:#59b0e2;
$label-color:#0359a4;
$button-text-color:$nav-bg;




* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Noto Sans", sans-serif;
}
body {
  overflow-x: hidden;
  background-color: $body-bg;
  color: $primary-text;
  background: url("../images/background.jpg");
  background-attachment: fixed;
}


.text-center{
  text-align: center;
}


a {
  cursor: pointer;
  text-decoration: none;
}



@media (max-width: 1000px) {
 
 
}
