@import url("https://fonts.googleapis.com/css?family=Noto+Sans");



// colors
$body-bg: #fefefe; //body color

//contentFactory
$primary-text: #222222;
$secondary-text:  #201F49;
$text-white: #fefefe;

// navbar
$nav-bg: #fefefe;
$nav-link: #201F49;
$nav-link-hover: #fefefe;
$nav-link-bg-hover: #e6332a;
$nav-line:$nav-link-bg-hover;

//footer
$footer-bg: #201F49;
$footer-text: #fefefe;
$footer-secondary-text: $footer-text;
//form
$form-text: $primary-text;
$form-border: $secondary-text;


/* ////////////// Break Points ///////////////*/
//small tablets and large smartphones(landscape view)
$sm:576px;

//small tablets(portrait view)
$md:768px;

//Tablets and small desktops
$lg:992px;

//Large tablets and desktops
$xl:1200px;

//greaer than any size
$xxl:40000px;


