@import url("https://fonts.googleapis.com/css?family=Advent+Pro|Josefin+Slab|Rajdhani");
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
@import url("https://fonts.googleapis.com/css?family=Noto+Sans");
/* line 6, C:/Users/erd/Desktop/web development/STAcademie/sass/_reset.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  box-sizing: border-box;
}

/* HTML5 display-role reset for older browsers */
/* line 28, C:/Users/erd/Desktop/web development/STAcademie/sass/_reset.scss */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

/* line 32, C:/Users/erd/Desktop/web development/STAcademie/sass/_reset.scss */
body {
  line-height: 1;
}

/* line 35, C:/Users/erd/Desktop/web development/STAcademie/sass/_reset.scss */
ol, ul {
  list-style: none;
}

/* line 38, C:/Users/erd/Desktop/web development/STAcademie/sass/_reset.scss */
blockquote, q {
  quotes: none;
}

/* line 41, C:/Users/erd/Desktop/web development/STAcademie/sass/_reset.scss */
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

/* line 46, C:/Users/erd/Desktop/web development/STAcademie/sass/_reset.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 51, C:/Users/erd/Desktop/web development/STAcademie/sass/_reset.scss */
strong {
  font-weight: bold;
}

/* line 54, C:/Users/erd/Desktop/web development/STAcademie/sass/_reset.scss */
em {
  font-style: italic;
}

/* ////////////// Break Points ///////////////*/
/*Media Quaries*/
/* line 1, C:/Users/erd/Desktop/web development/STAcademie/sass/_navbar.scss */
.topnav {
  display: flex;
  display: none;
  justify-content: flex-end;
  margin-right: 2rem;
  width: 100%;
  height: 2.2em;
}

/* line 10, C:/Users/erd/Desktop/web development/STAcademie/sass/_navbar.scss */
.topnav .nav {
  list-style: none;
}

/* line 12, C:/Users/erd/Desktop/web development/STAcademie/sass/_navbar.scss */
.topnav .nav .nav-item {
  display: inline-block;
  height: 2.2em;
  padding: 0.4em;
  cursor: pointer;
}

/* line 18, C:/Users/erd/Desktop/web development/STAcademie/sass/_navbar.scss */
.topnav .nav .nav-item:hover {
  color: #fefefe;
  background-color: #e6332a;
}

/* line 26, C:/Users/erd/Desktop/web development/STAcademie/sass/_navbar.scss */
.active-lang {
  background-color: #e6332a;
  color: #fefefe;
}

/* line 31, C:/Users/erd/Desktop/web development/STAcademie/sass/_navbar.scss */
.active {
  margin: 0.1em;
  border-radius: 15px;
  list-style: none;
  padding: 1em 0.5em;
  font-size: 1.1em;
  background: #e6332a;
  outline: none;
}

/* line 40, C:/Users/erd/Desktop/web development/STAcademie/sass/_navbar.scss */
.active a {
  color: #fefefe;
}

/* line 44, C:/Users/erd/Desktop/web development/STAcademie/sass/_navbar.scss */
.disabled-link {
  cursor: auto !important;
}

/* line 47, C:/Users/erd/Desktop/web development/STAcademie/sass/_navbar.scss */
.disabled-link:hover {
  color: initial !important;
  background-color: initial !important;
}

/* line 53, C:/Users/erd/Desktop/web development/STAcademie/sass/_navbar.scss */
.navbar {
  z-index: 10;
  top: 0px;
  padding: 0;
  margin: 0 calc(1rem + 3%);
  display: flex;
  align-items: center;
  justify-items: flex-end;
  background-color: #fefefe;
  color: #201F49;
  width: calc(100%-2rem);
  min-height: 60px;
  outline: none;
}

/* line 67, C:/Users/erd/Desktop/web development/STAcademie/sass/_navbar.scss */
.navbar-brand {
  width: 230px;
  height: 100px;
  font-size: 1rem;
  background: #fefefe;
  font-weight: bold;
  margin-bottom: 1.2rem;
}

/* line 74, C:/Users/erd/Desktop/web development/STAcademie/sass/_navbar.scss */
.navbar-brand a {
  display: block;
  color: #201F49;
  text-align: center;
}

/* line 80, C:/Users/erd/Desktop/web development/STAcademie/sass/_navbar.scss */
.navbar-brand img {
  height: 100px;
  display: block;
  margin: auto;
}

/* line 87, C:/Users/erd/Desktop/web development/STAcademie/sass/_navbar.scss */
.fa-bars {
  color: #201F49;
  font-size: 1.4em;
}

/* line 91, C:/Users/erd/Desktop/web development/STAcademie/sass/_navbar.scss */
.nav-link {
  margin: 0.1em;
  border-radius: 15px;
  list-style: none;
  padding: 0.5em 0.3em;
  font-size: 1.1em;
  background: #fefefe;
  outline: none;
  text-align: center;
  cursor: pointer;
}

/* line 102, C:/Users/erd/Desktop/web development/STAcademie/sass/_navbar.scss */
.nav-link a {
  color: #201F49;
  cursor: pointer;
}

/* line 106, C:/Users/erd/Desktop/web development/STAcademie/sass/_navbar.scss */
.nav-link:hover {
  background: #e6332a;
  transition: all 500ms ease-in-out;
  color: #fefefe;
}

/* line 111, C:/Users/erd/Desktop/web development/STAcademie/sass/_navbar.scss */
.nav-link a:hover {
  color: #fefefe;
}

/* line 116, C:/Users/erd/Desktop/web development/STAcademie/sass/_navbar.scss */
.navbar-items {
  display: flex;
  position: relative;
}

/* line 121, C:/Users/erd/Desktop/web development/STAcademie/sass/_navbar.scss */
.navbar-items-right {
  margin-left: auto;
}

/* line 124, C:/Users/erd/Desktop/web development/STAcademie/sass/_navbar.scss */
.nav-link-toggle {
  display: none;
}

/* line 128, C:/Users/erd/Desktop/web development/STAcademie/sass/_navbar.scss */
.dropdown-content {
  z-index: 10;
  position: absolute;
  height: 0;
  top: 3.2em;
  padding: 0em 0.2em;
  margin: 0.3em 0.3em;
  background: #fefefe;
  overflow: hidden;
  transition: all 1000ms ease-in-out;
  border-radius: 15px;
}

/* line 141, C:/Users/erd/Desktop/web development/STAcademie/sass/_navbar.scss */
.dropdown-content a {
  color: #201F49;
}

/* line 145, C:/Users/erd/Desktop/web development/STAcademie/sass/_navbar.scss */
.dropdown-content li {
  border-radius: 15px;
  list-style: none;
  padding: 0.4em 0.5em;
  background-color: #fefefe;
  font-size: 1em;
  text-align: left;
  color: #201F49;
}

/* line 154, C:/Users/erd/Desktop/web development/STAcademie/sass/_navbar.scss */
.dropdown-content li:hover {
  background: #e6332a;
  color: #fefefe;
}

/* line 157, C:/Users/erd/Desktop/web development/STAcademie/sass/_navbar.scss */
.dropdown-content li:hover a {
  color: #fefefe;
}

/* line 161, C:/Users/erd/Desktop/web development/STAcademie/sass/_navbar.scss */
.dropdown-content li a:hover {
  color: #fefefe;
}

/* line 166, C:/Users/erd/Desktop/web development/STAcademie/sass/_navbar.scss */
.drop {
  height: auto;
}

/* line 169, C:/Users/erd/Desktop/web development/STAcademie/sass/_navbar.scss */
#navbarline {
  height: 20px;
  background: #e6332a;
}

@media only screen and (max-width: 740px) {
  /* line 175, C:/Users/erd/Desktop/web development/STAcademie/sass/_navbar.scss */
  .navbar-items,
  .navbar {
    flex-direction: column;
    align-items: center;
    width: calc(100%-2rem);
    padding-left: 0.5em;
  }
  /* line 182, C:/Users/erd/Desktop/web development/STAcademie/sass/_navbar.scss */
  .navbar-brand {
    margin: auto;
    margin-bottom: 1.2rem;
  }
  /* line 186, C:/Users/erd/Desktop/web development/STAcademie/sass/_navbar.scss */
  .navbar-items-right {
    margin-left: 0;
  }
  /* line 189, C:/Users/erd/Desktop/web development/STAcademie/sass/_navbar.scss */
  .navbar-items {
    display: none;
  }
  /* line 193, C:/Users/erd/Desktop/web development/STAcademie/sass/_navbar.scss */
  .nav-link-toggle {
    display: initial;
    align-self: flex-end;
    position: absolute;
    margin: 0.1em;
    padding: 1em 0.5em;
    cursor: pointer;
  }
  /* line 201, C:/Users/erd/Desktop/web development/STAcademie/sass/_navbar.scss */
  .navbar-toggleShow {
    display: flex;
  }
  /* line 205, C:/Users/erd/Desktop/web development/STAcademie/sass/_navbar.scss */
  .drop {
    top: 0;
    position: relative;
  }
  /* line 210, C:/Users/erd/Desktop/web development/STAcademie/sass/_navbar.scss */
  .dropdown-content li {
    padding: 0.4em 1em;
  }
}

/* line 1, C:/Users/erd/Desktop/web development/STAcademie/sass/_footer.scss */
footer {
  background-color: #201F49;
  color: #fefefe;
}

/* line 5, C:/Users/erd/Desktop/web development/STAcademie/sass/_footer.scss */
footer p {
  text-align: center;
  color: #fefefe;
  padding: 1em 0;
  font-size: 1.1em;
}

/* line 12, C:/Users/erd/Desktop/web development/STAcademie/sass/_footer.scss */
footer a {
  text-align: center;
  color: #fefefe;
  padding: 0.2em 0;
  font-size: 1.1em;
}

/* line 18, C:/Users/erd/Desktop/web development/STAcademie/sass/_footer.scss */
footer .telephone {
  margin-bottom: 0.8em;
}

/* line 20, C:/Users/erd/Desktop/web development/STAcademie/sass/_footer.scss */
footer .telephone p {
  padding: 0.1em 0;
}

/* line 25, C:/Users/erd/Desktop/web development/STAcademie/sass/_footer.scss */
.footer-nav {
  text-align: center;
}

/* line 27, C:/Users/erd/Desktop/web development/STAcademie/sass/_footer.scss */
.footer-nav li {
  display: inline-block;
  margin: 1.5rem 1rem;
}

/* line 32, C:/Users/erd/Desktop/web development/STAcademie/sass/_footer.scss */
.footer-info {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

/* line 37, C:/Users/erd/Desktop/web development/STAcademie/sass/_footer.scss */
.footer-banner {
  display: block;
  height: 190px;
  margin: auto;
}

/* line 42, C:/Users/erd/Desktop/web development/STAcademie/sass/_footer.scss */
.footer-info p,
.footer-info a {
  color: #fefefe;
}

/* line 1, C:/Users/erd/Desktop/web development/STAcademie/sass/_auth.scss */
.authentication {
  max-width: 800px;
  display: flex;
  flex-wrap: nowrap;
  flex-direction: row;
  justify-content: center;
  align-items: stretch;
  margin: auto;
  padding: 0;
}

/* line 12, C:/Users/erd/Desktop/web development/STAcademie/sass/_auth.scss */
.form-group {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 1em;
}

/* line 19, C:/Users/erd/Desktop/web development/STAcademie/sass/_auth.scss */
input {
  display: block;
  border: 1px solid #201F49;
  color: #222222;
  border-radius: 15px;
  height: 2.5em;
  width: 95%;
  outline: none;
  padding: 0 0.5em;
  margin: 0.5em 1em;
}

/* line 29, C:/Users/erd/Desktop/web development/STAcademie/sass/_auth.scss */
input::placeholder {
  color: #a2a2a2;
}

/* line 34, C:/Users/erd/Desktop/web development/STAcademie/sass/_auth.scss */
input[type="file"] {
  display: none;
  color: red;
}

/* line 40, C:/Users/erd/Desktop/web development/STAcademie/sass/_auth.scss */
.blurred {
  color: #a2a2a2;
  font-weight: 400;
  font-size: 0.9em;
  margin: 0.5em 1em;
}

/* line 46, C:/Users/erd/Desktop/web development/STAcademie/sass/_auth.scss */
.center {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: stretch;
  margin: 0;
  padding: 0;
}

/* line 55, C:/Users/erd/Desktop/web development/STAcademie/sass/_auth.scss */
.toogle {
  cursor: pointer;
  color: #222222;
}

/* line 58, C:/Users/erd/Desktop/web development/STAcademie/sass/_auth.scss */
.toogle:hover {
  color: #222222;
  font-weight: 500;
}

/* line 64, C:/Users/erd/Desktop/web development/STAcademie/sass/_auth.scss */
.users {
  margin: auto;
  border-collapse: collapse;
  overflow: hidden;
  overflow-x: auto;
  text-align: center;
  vertical-align: center;
  padding: 0.4em;
  font-size: 0.8em;
}

/* line 74, C:/Users/erd/Desktop/web development/STAcademie/sass/_auth.scss */
.users-rules {
  padding: 2em;
  list-style: disc;
}

/* line 77, C:/Users/erd/Desktop/web development/STAcademie/sass/_auth.scss */
.users-rules li {
  padding-bottom: 1em;
}

/* line 81, C:/Users/erd/Desktop/web development/STAcademie/sass/_auth.scss */
.signup-message {
  max-width: 300px;
  margin: auto;
}

/* line 84, C:/Users/erd/Desktop/web development/STAcademie/sass/_auth.scss */
.signup-message p {
  text-align: center;
}

/* line 88, C:/Users/erd/Desktop/web development/STAcademie/sass/_auth.scss */
.error {
  color: red;
}

/* line 1, C:/Users/erd/Desktop/web development/STAcademie/sass/_home.scss */
body {
  overflow-x: hidden;
  background-color: #fefefe;
  color: #222222;
  font-family: "Rajdhani", sans-serif;
}

/* line 8, C:/Users/erd/Desktop/web development/STAcademie/sass/_home.scss */
a {
  text-decoration: none;
}

/* line 12, C:/Users/erd/Desktop/web development/STAcademie/sass/_home.scss */
.showtime {
  position: relative;
  max-height: calc(100vh - 2.2rem - 60px);
  max-width: 1200px;
  padding: 0;
  margin: 0 1rem;
  margin-top: 1rem;
  background-color: #111;
  border-radius: 15px;
  box-shadow: 0 0 10px 0px rgba(0, 0, 0, 0.3);
  overflow: hidden;
}

/* line 24, C:/Users/erd/Desktop/web development/STAcademie/sass/_home.scss */
.showtime #leftArrow {
  z-index: 20;
  position: absolute;
  top: 40%;
  left: 0%;
  margin-left: 20px;
  font-size: 70px;
  color: #fefefe;
  font-weight: 500;
  cursor: pointer;
}

/* line 34, C:/Users/erd/Desktop/web development/STAcademie/sass/_home.scss */
.showtime #leftArrow:hover {
  transform: scale(1.2);
  opacity: 0.8;
  transition: all 300ms ease-in-out;
}

/* line 40, C:/Users/erd/Desktop/web development/STAcademie/sass/_home.scss */
.showtime #rightArrow {
  z-index: 20;
  position: absolute;
  top: 40%;
  right: 0%;
  margin-right: 20px;
  font-size: 70px;
  color: #fefefe;
  font-weight: 500;
  cursor: pointer;
}

/* line 50, C:/Users/erd/Desktop/web development/STAcademie/sass/_home.scss */
.showtime #rightArrow:hover {
  transform: scale(1.2);
  opacity: 0.7;
  transition: all 300ms ease-in-out;
}

@media screen and (max-width: 576px) {
  /* line 57, C:/Users/erd/Desktop/web development/STAcademie/sass/_home.scss */
  .showtime #rightArrow,
  .showtime #leftArrow {
    font-size: 30px;
  }
}

/* line 64, C:/Users/erd/Desktop/web development/STAcademie/sass/_home.scss */
.showtime__img {
  overflow: hidden;
  position: relative;
}

/* line 68, C:/Users/erd/Desktop/web development/STAcademie/sass/_home.scss */
.showtime__img img {
  object-fit: cover;
  width: 100%;
  height: auto;
}

/* line 73, C:/Users/erd/Desktop/web development/STAcademie/sass/_home.scss */
.showtime__img :hover img {
  opacity: 0.6;
}

/* line 77, C:/Users/erd/Desktop/web development/STAcademie/sass/_home.scss */
.showtime__text {
  text-shadow: 0px 0px 10px #000;
  z-index: 1;
  position: absolute;
  top: 55%;
  margin-left: 100px;
  width: 400px;
}

/* line 85, C:/Users/erd/Desktop/web development/STAcademie/sass/_home.scss */
.showtime__text h1 {
  margin-bottom: 0;
  text-transform: uppercase;
  font-size: 2.7rem;
  color: #fefefe;
  font-weight: 1000;
  letter-spacing: 3px;
}

/* line 93, C:/Users/erd/Desktop/web development/STAcademie/sass/_home.scss */
.showtime__text p {
  text-transform: capitalize;
  font-size: 1.3rem;
  color: #fefefe;
  font-style: italic;
  font-weight: 400;
  letter-spacing: 1px;
}

@media screen and (max-width: 576px) {
  /* line 77, C:/Users/erd/Desktop/web development/STAcademie/sass/_home.scss */
  .showtime__text {
    margin-left: 20px;
    top: 70%;
    width: 280px;
  }
  /* line 105, C:/Users/erd/Desktop/web development/STAcademie/sass/_home.scss */
  .showtime__text h1 {
    font-size: 1rem;
  }
  /* line 108, C:/Users/erd/Desktop/web development/STAcademie/sass/_home.scss */
  .showtime__text p {
    display: none;
  }
}

/* starting ENTER animation */
/* line 121, C:/Users/erd/Desktop/web development/STAcademie/sass/_home.scss */
.slide-left-enter {
  position: absolute;
  transform: translateX(100%);
}

/* ending ENTER animation */
/* line 127, C:/Users/erd/Desktop/web development/STAcademie/sass/_home.scss */
.slide-left-enter-active {
  transform: translateX(0%);
  transition: all 1000ms ease-in-out;
}

/* starting EXIT animation */
/* line 133, C:/Users/erd/Desktop/web development/STAcademie/sass/_home.scss */
.slide-left-exit {
  transform: translateX(0%);
}

/* ending EXIT animation */
/* line 138, C:/Users/erd/Desktop/web development/STAcademie/sass/_home.scss */
.slide-left-exit-active {
  transform: translateX(-100%);
  transition: all 1000ms ease-in-out;
}

/* starting ENTER animation */
/* line 144, C:/Users/erd/Desktop/web development/STAcademie/sass/_home.scss */
.slide-right-enter {
  position: absolute;
  transform: translateX(-100%);
}

/* ending ENTER animation */
/* line 150, C:/Users/erd/Desktop/web development/STAcademie/sass/_home.scss */
.slide-right-enter-active {
  transform: translateX(0%);
  transition: all 1000ms ease-in-out;
}

/* starting EXIT animation */
/* line 156, C:/Users/erd/Desktop/web development/STAcademie/sass/_home.scss */
.slide-right-exit {
  transform: translateX(0%);
}

/* ending EXIT animation */
/* line 161, C:/Users/erd/Desktop/web development/STAcademie/sass/_home.scss */
.slide-right-exit-active {
  transform: translateX(100%);
  transition: all 1000ms ease-in-out;
}

/* starting ENTER animation */
/* line 167, C:/Users/erd/Desktop/web development/STAcademie/sass/_home.scss */
.showtime__text-enter {
  opacity: 0;
}

/* ending ENTER animation */
/* line 172, C:/Users/erd/Desktop/web development/STAcademie/sass/_home.scss */
.showtime__text-enter-active {
  opacity: 1;
  transition: opacity 1500ms ease-in-out;
}

/* starting EXIT animation */
/* line 178, C:/Users/erd/Desktop/web development/STAcademie/sass/_home.scss */
.showtime__text-exit {
  opacity: 0;
}

/* ending EXIT animation */
/* line 183, C:/Users/erd/Desktop/web development/STAcademie/sass/_home.scss */
.showtime__text-exit-active {
  opacity: 0;
  transition: opacity 1000ms ease-in-out;
}

/* line 188, C:/Users/erd/Desktop/web development/STAcademie/sass/_home.scss */
.courses {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  flex-basis: 180px;
  border-radius: 15px;
  margin: 0 1rem;
  box-shadow: 0 0 10px 0px rgba(0, 0, 0, 0.3);
}

/* line 198, C:/Users/erd/Desktop/web development/STAcademie/sass/_home.scss */
.courses__title {
  color: #201F49;
  text-align: center;
  margin-bottom: 1rem;
  font-size: 2.5rem;
  text-transform: uppercase;
}

/* line 205, C:/Users/erd/Desktop/web development/STAcademie/sass/_home.scss */
.module {
  position: relative;
  border-radius: 15px;
  box-shadow: 0 0 10px 0px rgba(0, 0, 0, 0.3);
  width: 180px;
  height: 240px;
  margin: 1em;
  transition: all 300ms ease-in-out;
  overflow: hidden;
}

/* line 215, C:/Users/erd/Desktop/web development/STAcademie/sass/_home.scss */
.module:hover {
  transform: scale(1.05);
}

/* line 218, C:/Users/erd/Desktop/web development/STAcademie/sass/_home.scss */
.module img {
  max-width: 100%;
  height: 180px;
  object-fit: cover;
}

/* line 223, C:/Users/erd/Desktop/web development/STAcademie/sass/_home.scss */
.module a {
  display: block;
  height: 100%;
  color: #201F49;
  text-align: center;
  font-size: 1em;
  padding: 0.2em 0.4em;
}

@media only screen and (max-width: 740px) {
  /* line 236, C:/Users/erd/Desktop/web development/STAcademie/sass/_home.scss */
  .container {
    flex-wrap: wrap;
  }
  /* line 238, C:/Users/erd/Desktop/web development/STAcademie/sass/_home.scss */
  .container .content {
    flex-basis: 100%;
    margin: 0.5em;
  }
  /* line 243, C:/Users/erd/Desktop/web development/STAcademie/sass/_home.scss */
  .container .picture {
    max-width: 70%;
  }
}

/* line 1, C:/Users/erd/Desktop/web development/STAcademie/sass/_contentFactory.scss */
.container {
  max-width: 1200px;
  margin: 0 auto;
}

/* line 6, C:/Users/erd/Desktop/web development/STAcademie/sass/_contentFactory.scss */
.contents {
  display: flex;
  flex-wrap: no-wrap;
  margin: 1rem;
  justify-content: space-between;
  background: #fefefe;
  border-radius: 15px;
  box-shadow: 0 0 10px 0px rgba(0, 0, 0, 0.3);
}

/* line 15, C:/Users/erd/Desktop/web development/STAcademie/sass/_contentFactory.scss */
.contents .picture {
  max-width: 45%;
  margin: 3em 1.5em;
}

/* line 19, C:/Users/erd/Desktop/web development/STAcademie/sass/_contentFactory.scss */
.contents .picture img {
  width: 100%;
  position: sticky;
  top: 1rem;
}

/* line 25, C:/Users/erd/Desktop/web development/STAcademie/sass/_contentFactory.scss */
.contents .content {
  position: relative;
  flex-basis: 70%;
  margin: 1.5em;
}

/* line 29, C:/Users/erd/Desktop/web development/STAcademie/sass/_contentFactory.scss */
.contents .content img {
  max-width: 50%;
  margin: 0.5em;
}

/* line 33, C:/Users/erd/Desktop/web development/STAcademie/sass/_contentFactory.scss */
.contents .content h1,
.contents .content h2,
.contents .content h3 {
  color: #201F49;
  text-transform: uppercase;
  margin-bottom: 1em;
  font-weight: bold;
}

/* line 41, C:/Users/erd/Desktop/web development/STAcademie/sass/_contentFactory.scss */
.contents .content h1 {
  font-size: 2em;
}

/* line 44, C:/Users/erd/Desktop/web development/STAcademie/sass/_contentFactory.scss */
.contents .content h2 {
  font-size: 1.8em;
}

/* line 47, C:/Users/erd/Desktop/web development/STAcademie/sass/_contentFactory.scss */
.contents .content h3 {
  font-size: 1.5em;
}

/* line 50, C:/Users/erd/Desktop/web development/STAcademie/sass/_contentFactory.scss */
.contents .content h3,
.contents .content p {
  margin-bottom: 1em;
}

/* line 54, C:/Users/erd/Desktop/web development/STAcademie/sass/_contentFactory.scss */
.contents .content p {
  color: #222222;
  line-height: 1.5em;
  text-align: justify;
}

/* line 59, C:/Users/erd/Desktop/web development/STAcademie/sass/_contentFactory.scss */
.contents .content ol {
  padding-left: 1rem;
  padding-bottom: 0.5em;
  list-style-type: decimal;
}

/* line 64, C:/Users/erd/Desktop/web development/STAcademie/sass/_contentFactory.scss */
.contents .content ul {
  padding-left: 1rem;
  padding-bottom: 0.5em;
  list-style: disc;
}

/* line 69, C:/Users/erd/Desktop/web development/STAcademie/sass/_contentFactory.scss */
.contents .content li {
  margin-bottom: 0.5em;
  line-height: 1.5em;
}

/* line 73, C:/Users/erd/Desktop/web development/STAcademie/sass/_contentFactory.scss */
.contents .content blockquote {
  margin: 0 2em;
  width: calc(100% - 4em);
  border-left: 5px solid rgba(0, 0, 0, 0.4);
  padding: 0 2em;
  padding-bottom: 0;
  font-style: italic;
  line-height: 1.5em;
  font-weight: 500;
  color: #201F49;
  background-color: rgba(0, 0, 0, 0.03);
}

/* line 85, C:/Users/erd/Desktop/web development/STAcademie/sass/_contentFactory.scss */
.contents .content blockquote::before,
.contents .content blockquote::after {
  content: "";
  display: block;
  height: 1em;
}

/* line 91, C:/Users/erd/Desktop/web development/STAcademie/sass/_contentFactory.scss */
.contents .content blockquote::after {
  margin-bottom: 1em;
}

/* line 94, C:/Users/erd/Desktop/web development/STAcademie/sass/_contentFactory.scss */
.contents .content table {
  margin: 1em auto;
}

/* line 96, C:/Users/erd/Desktop/web development/STAcademie/sass/_contentFactory.scss */
.contents .content table th {
  text-align: center;
  font-weight: 600;
  text-transform: uppercase;
  color: #201F49;
}

/* line 102, C:/Users/erd/Desktop/web development/STAcademie/sass/_contentFactory.scss */
.contents .content table tr,
.contents .content table td,
.contents .content table th {
  border: 1px solid #302e6d;
  padding: 0.5em 1em;
}

/* line 113, C:/Users/erd/Desktop/web development/STAcademie/sass/_contentFactory.scss */
.quote {
  text-align: center;
  box-shadow: none;
}

/* line 116, C:/Users/erd/Desktop/web development/STAcademie/sass/_contentFactory.scss */
.quote .content {
  flex-basis: 100%;
  margin: 1.5em;
}

/* line 120, C:/Users/erd/Desktop/web development/STAcademie/sass/_contentFactory.scss */
.quote h1::before,
.quote h1::after {
  font-size: 1.5em;
}

/* line 124, C:/Users/erd/Desktop/web development/STAcademie/sass/_contentFactory.scss */
.quote h1::before {
  content: open-quote;
}

/* line 127, C:/Users/erd/Desktop/web development/STAcademie/sass/_contentFactory.scss */
.quote h1::after {
  content: close-quote;
}

/* line 132, C:/Users/erd/Desktop/web development/STAcademie/sass/_contentFactory.scss */
.banner1 {
  box-shadow: none;
  flex-wrap: wrap;
  border-radius: 15px;
  box-shadow: 0 0 10px 0px rgba(0, 0, 0, 0.3);
}

/* line 138, C:/Users/erd/Desktop/web development/STAcademie/sass/_contentFactory.scss */
.banner1 .picture {
  flex-basis: 100%;
  max-width: 95%;
  margin: 1em 1.5em;
}

/* line 143, C:/Users/erd/Desktop/web development/STAcademie/sass/_contentFactory.scss */
.banner1 .picture img {
  width: 100%;
  top: 1rem;
}

/* line 148, C:/Users/erd/Desktop/web development/STAcademie/sass/_contentFactory.scss */
.banner1 a {
  color: #201F49;
}

/* line 151, C:/Users/erd/Desktop/web development/STAcademie/sass/_contentFactory.scss */
.banner1 .content {
  flex-basis: 100%;
  margin: auto;
  margin: 0.5em;
}

/* line 157, C:/Users/erd/Desktop/web development/STAcademie/sass/_contentFactory.scss */
.banner2 {
  box-shadow: none;
  flex-wrap: wrap;
  border-radius: 15px;
  box-shadow: 0 0 10px 0px rgba(0, 0, 0, 0.3);
}

/* line 163, C:/Users/erd/Desktop/web development/STAcademie/sass/_contentFactory.scss */
.banner2 .content {
  flex-basis: 100%;
  margin: auto;
  margin: 0.5em;
}

/* line 168, C:/Users/erd/Desktop/web development/STAcademie/sass/_contentFactory.scss */
.banner2 h1 {
  text-align: center;
  margin-top: 1em;
}

/* line 172, C:/Users/erd/Desktop/web development/STAcademie/sass/_contentFactory.scss */
.banner2 img {
  width: 45%;
}

/* line 177, C:/Users/erd/Desktop/web development/STAcademie/sass/_contentFactory.scss */
.editButtons {
  cursor: pointer;
  max-width: 1200px;
  padding: 1em 2em;
  margin: auto;
  background: #fefefe;
}

/* line 184, C:/Users/erd/Desktop/web development/STAcademie/sass/_contentFactory.scss */
.hide {
  display: none;
}

/* line 188, C:/Users/erd/Desktop/web development/STAcademie/sass/_contentFactory.scss */
.editor {
  padding: 0em;
  margin-top: 5em;
  margin: auto;
  background: #fefefe;
}

/* line 194, C:/Users/erd/Desktop/web development/STAcademie/sass/_contentFactory.scss */
.add-image {
  display: flex;
}

/* line 197, C:/Users/erd/Desktop/web development/STAcademie/sass/_contentFactory.scss */
.custom-file-upload {
  display: inline-block;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0.5em 1em;
  border-radius: 15px;
  padding: 0.5em 1em;
  width: 200px;
  outline: none;
  color: #222222;
  border: 1px solid #201F49;
  background-color: #fefefe;
  font-size: 1em;
  text-align: center;
  font-weight: 400;
}

/* line 213, C:/Users/erd/Desktop/web development/STAcademie/sass/_contentFactory.scss */
.custom-file-upload:hover {
  color: #fefefe;
  background: #e6332a;
  border: 1px solid #e6332a;
  cursor: pointer;
}

/* line 220, C:/Users/erd/Desktop/web development/STAcademie/sass/_contentFactory.scss */
.editor__edit {
  border-radius: 15px;
  box-shadow: 0 0 10px 0px rgba(0, 0, 0, 0.3);
  padding: 1em;
}

@media only screen and (max-width: 740px) {
  /* line 227, C:/Users/erd/Desktop/web development/STAcademie/sass/_contentFactory.scss */
  .contents {
    flex-wrap: wrap;
    margin-top: 1em;
    overflow: hidden;
  }
  /* line 231, C:/Users/erd/Desktop/web development/STAcademie/sass/_contentFactory.scss */
  .contents .picture {
    max-width: 100%;
    margin: 0;
  }
  /* line 234, C:/Users/erd/Desktop/web development/STAcademie/sass/_contentFactory.scss */
  .contents .picture img {
    top: 0;
  }
  /* line 238, C:/Users/erd/Desktop/web development/STAcademie/sass/_contentFactory.scss */
  .contents .content,
  .contents .contact {
    flex-basis: 100%;
    max-width: calc(100% - 2rem);
    margin: 1rem 1rem;
  }
}

/* line 1, C:/Users/erd/Desktop/web development/STAcademie/sass/_contact.scss */
.contact {
  flex-basis: 70%;
  margin: 1.5em;
  justify-content: center;
}

/* line 5, C:/Users/erd/Desktop/web development/STAcademie/sass/_contact.scss */
.contact a {
  color: #201F49;
}

/* line 8, C:/Users/erd/Desktop/web development/STAcademie/sass/_contact.scss */
.contact p {
  text-align: center;
}

/* line 11, C:/Users/erd/Desktop/web development/STAcademie/sass/_contact.scss */
.contact h1 {
  font-size: 1.5em;
  font-weight: bold;
  padding-top: 1em;
  text-align: center;
  color: #201F49;
}

/* line 18, C:/Users/erd/Desktop/web development/STAcademie/sass/_contact.scss */
.contact p, .contact h1 {
  margin-bottom: 1em;
}

/* line 23, C:/Users/erd/Desktop/web development/STAcademie/sass/_contact.scss */
.contact-logo {
  display: block;
  height: 190px;
  margin: 1rem auto;
}

/*# sourceMappingURL=../src/styles/style.map */